@model pr3_tradecompany_aspnet_mvc.Models.Enitites.Customer

@{
    ViewData["Title"] = "Детали";
}

<h1>Заказчик</h1>

<div>
    <h4>Детали</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Идентификатор
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Название компании
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            Адрес
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            Телефон
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Назад к списку</a>
</div>
